body {
    font-family: Georgia, serif;
    background-color: #f826a1;
    font-size: 40px;
    color: #00FF00;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    background-image: url('images/memphis-pattern.jpg');
    background-repeat: repeat;
    background-size: 14em;
    
    /* background-image: 
        linear-gradient(45deg, #FF69B4 25%, transparent 25%), 
        linear-gradient(-45deg, #FF69B4 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #FF69B4 75%),
        linear-gradient(-45deg, transparent 75%, #FF69B4 75%);
    background-size: 100px 100px;
    background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
    background-color: #FF1493; /* Hot pink for the alternate squares */  

 }
  
 h1, p, a {
    background-color: rgba(248,38,161, 0.5);
    padding: 10px;
    border-radius: 5px;
  }

  h1 {
    font-family: 'Impact', sans-serif;
    font-size: 2em;
    text-shadow: 5px 5px 10px #FF0000;
    text-align: center;
    margin-bottom: 0.25em; /* Reduced from default */
  }
  
  p {
    font-size: 1.em;
    margin-top: 0.1em; /* Add this to reduce space above paragraphs */
    margin-bottom: 0.1em; /* Add this to reduce space below paragraphs */
  }
  
  a {
    color: #00FFFF;
    text-decoration: underline;
    font-size: 1.5em;
    margin-top: 0.1em; /* Reduced from 20px */
    margin-bottom: 0.1em; /* Reduced from 20px */
  }

.image-carousel {
    width: 90vw;
    max-width: 800px;
    /* Set a fixed height for the carousel */
    height: auto; /* Adjust as needed based on your desired height */
    overflow: hidden;
    position: relative;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Ensure the image container takes full carousel height */
    align-items: center; /* Vertically center images within the container */
    margin-bottom: 50px;
    margin-top: 0.1em;
}

.image-container img {
    min-width: 100%;
    height: auto;
    object-fit: contain;
/*    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);*/
}


/* Adjust carousel width for smaller screens */
@media (max-width: 768px) {
    body { font-size: 24px; }
    h1 { 
        margin-bottom: 0.3em; /* Further reduce spacing on small screens */
      }
      p {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }
      a {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }
      .image-carousel { 
        margin-top: 0.5em;
      }
    }

.prev-button, .next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* RSVP Container */
.rsvp-container {
    background-color: rgba(248,38,161, 0.8); /* Semi-transparent neon pink */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px #00FFFF; /* Neon blue box shadow */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/* RSVP Form */
.rsvp-form {
    display: flex;
    flex-direction: column;
}

/* Labels */
.rsvp-label {
    color: #00FF00; /* Lime green */
    margin-top: 5px;  /* Reduced spacing */
    font-weight: bold;
    font-size: 1em;  /* Scaled down font size */
}

/* Inputs, Selects */
.rsvp-input,
.rsvp-select {
    padding: 8px;       /* Slightly reduced padding */
    margin-bottom: 10px;  /* Reduced spacing */
    border: 2px solid #00FFFF; /* Neon blue border */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: #00FF00; /* Lime green text */
    font-family: Georgia, serif;
    font-size: 1em;  /* Scaled down font size */
}
.rsvp-input::placeholder { /* Style the placeholder text */
    color: lightgray; /* Or choose another shade that fits your theme */
}

/* Button */
.rsvp-button {
    padding: 10px 20px;  /* Slightly reduced padding */
    background-image: linear-gradient(45deg, #FF1493, #FF69B4); /* Gradient button */
    color: #00FF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;    /* Scaled down font size */
    font-family: 'Pixel Emulator', cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.rsvp-button:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}


/* Message */
#message {
    margin-top: 10px;
    color: #00FFFF; /* Electric blue */
    font-weight: bold;
    font-size: 0.9em; /* Slightly smaller font size */
}
.home-link {
    margin-top: 20px;
    display: block;
}
.home-link a{
    font-size: 1em; /* Scaled down the font size */
}

